*{
	margin: 0px;
	padding: 0px;
}

html{
	background-color: #A4A4A4;
}

header{
	background-color: #A4A4A4;
	padding-left: 2%;
}

body{
	background-color: #FFFFFF;
	margin-left: 10%;
	margin-right: 10%;
}

a{
	color: #000000;
}

h3{
	color:#969696;
	margin-left: -30px;
	padding-top: 10px;
}

ul li{
	list-style-type: circle;
}

#content{
	padding-left: 5%;
	padding-right: 5%;
}


section article{
	display: inline-block;

}

#principal{
	
	margin-left: 30%;
	margin-top: -680px;
}

#principal article{
	float: left;
	width: 200px;
	height: 250px;
}

#principal img{
	float: left;
}
#principal article h1{
	padding-bottom: 35px;
}

#content{
	padding-left: 10%;
	padding-right: 10%;
	
}

#secundario{
	margin-left: 30%;

}

section article a{
	text-decoration: none;
}

section article ul li{
	list-style: none;
	background-color: #CECECE;
	border: solid 2px white;

}


#verde{
	background-color: #1DCB0B;
}

#celeste{
	background-color:#1399F7;
}

#negro{
	background-color:#000000;
}

#naranja{
	background-color:#FF8A00;
}

#turquesa{
	background-color:#00EAFF;
}

#azul{
	background-color:#0024FF;
}